faiss-cpu==1.14.3
Flask==3.1.0
ibm-watsonx-ai==1.5.14
jieba==0.42.1
line-bot-sdk==3.24.0
numpy==2.2.4
opencc-python-reimplemented==0.1.7
pandas==2.2.3
pyarrow==24.0.0
pyhive==0.7.0
python-dotenv==1.0.0
rank-bm25==0.2.2
requests==2.34.2
sentence-transformers==5.6.0
torch==2.12.1
tqdm==4.68.3
transformers==5.13.0
Werkzeug==3.1.3
